{{ define "main" }}
<div class="archive {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
    <ul class="list-with-title">
        <div class="gated-content">
            <h1>You're verified</h1>
        </div>
        <div id="gated-content-rev">
            <h1>Restricted Content</h1>
            <p>
                Please <strong>login</strong> to verify your identiy. <br>
                The registration process can only be done trough an invitation by the website administrator.
            </p>
        </div>
        <div class="btn-grp">
            <button class="btn-two" id="btn-login" disabled="true" onclick="login()">Log in</button>
            <button class="btn-two gated-content" id="btn-logout" disabled="true" onclick="logout()">Log out</button>
        </div>
        <div class="gated-content">
            {{ .Content }}
            {{ range .Data.Pages.GroupByDate "2006" }}
            <div class="listing-title">{{ .Key }}</div>
            {{ range .Pages }}
            <ul class="listing">
                <div class="listing-item">
                    <div class="listing-post"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
                        <div class="post-time"><span class="date">{{ if isset .Site.Params "listdateformat" }}
                                {{ .Date.Format .Site.Params.listDateFormat }}
                                {{ else }} {{.Date.Format "Jan 2"}}
                                {{ end }}</span></div>
                    </div>
                </div>
            </ul>
            {{ end }}
            {{ end }}
        </div>
    </ul>
</div>
{{ end }}