.landingPhoto {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 5%;
    position: relative;
}

.landingContent {
    width: 100%;
    text-align: center;
    margin-bottom: 15%;
}

.mainSection {
    margin-bottom: auto;
}

.gated-content {
    display: none;
}

.subscripeContainer {
    margin: 3% 0 3% 0;
}

.subscribeFormBox {
    width: 40%;
    min-width: 250px;
    margin: 3% auto 0 auto;
    padding: 0.5% 0;
    border: 2px solid #7F7F7F;
    background-color: var(--sb-box);
    border-radius: 5px;
}

.subscribeLabel {
    color: #2A292D;
    margin-bottom: 4%;
    font-family: 'Verdana', sans-serif;
}

.aboutPhoto {
    display: block;
    position: static;
    width: 100%;
    z-index: -1;
    margin: 0 0 5% 0;
}

.submitBtn {
    background-color: #467C8F;
    /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    -webkit-appearance: none;
}

.submitBtn:hover {
    background-color: #d55425;
    /* Green */
}

input[type=text] {
    margin: auto;
    padding: 5% 7%;
    font-size: 16px;
    border: 2px solid #6F6F6F;
}

.txt-primary{
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    text-shadow: 0px 2px 1px #919191,
    1px 10px 6px rgba(100,100,100,0.4),
    1px 14px 10px rgba(100,100,100,0.2),
    1px 17px 35px rgba(100,100,100,0.2),
    1px 22px 60px rgba(100,100,100,0.4);
    color: #EC5E29;
}

a:hover {
    color: #da7636;
}

/* 
========================
      BUTTON (https://www.fabriziovanmarciano.com/button-styles/)
========================
*/

.btn-two {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 15px 20px;
    border: 4px solid #6F6F6F !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.btn-two:hover:enabled {
    color: #ffffff !important;
    background: #da7636;
    border-color: #EC5E29 !important;
    transition: all 0.4s ease 0s;
}

.btn-grp {
    margin-top: 5%;
    margin-bottom: 5%;
    
}


@media screen and (max-width: 600px) {
    .subscribeFormBox {}
}
