{{ define "main" }}
<div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
    <!-- Landing Photo -->
    <img src="{{ .Params.image | absURL }}" alt="background picture" class="landingPhoto">
    <div class="landingContent">
        <!-- Content -->
        {{ .Content }}
        <!-- Subscribe -->
        <form onsubmit="return false;" class="subscribeFormBox">
            <div class="subscripeContainer">
                <div class="subscribeLabel">
                    <label for="email">Subscribe to get updates</label>
                </div>
                <input type="text" placeholder="email@example.com" name="email" required>
            </div>
            <div class="subscripeContainer">
                <button onclick="subscribeUser(email)" class="btn-two">Join the Flame!</button>
            </div>
        </form>
        <!-- Script -->
        <script>
            async function subscribeUser(email) {
                var emailAddress
                if (emailIsValid(email.value)) {
                    emailAddress = email.value
                } else {
                    alert("Please submit a valid e-mail adress. 😅")
                    return
                }
                const baseURL = "https://hausbrand.netlify.app/.netlify/functions/subscribe"
                const params = "?email=" + emailAddress
                var url = baseURL + params
                // common fetch uses (https://dmitripavlutin.com/javascript-fetch-async-await/)
                const response = await fetch(url, {
                    method: "GET",
                    mode: "cors"
                })
                console.log(response)
                const data = await response.text()
                    .then(alert)
                    .catch(err => console.error("err", error))
            }

            // @Tyler McGinnis - https://ui.dev/validate-email-address-javascript/
            function emailIsValid(email) {
                return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)
            }
        </script>
    </div>
</div>

{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
{{ range $paginator.Pages }}

<div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
    {{ if .Params.thumbnail }}
    <div class="post-thumbnail">
        <a href="{{ .RelPermalink }}">
            <img src="{{ .Params.thumbnail | relURL }}" alt="Thumbnail image" loading="lazy">
        </a>
    </div>
    {{ end }}
    <div class="post-title">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h3>
    </div>
    <div class="post-content">
        <div class="p_part">
            <p>{{ if .Site.Params.fullPostContent }}{{ .Content }}{{ else }}{{ .Summary }}{{ end }}</p>
            <!-- add read more -->
            {{- if and (.Truncated) (.Site.Params.readMore) -}}
            <a href='{{ .RelPermalink }}' class="read_more">{{ i18n "read_more" }}</a>
            {{- end -}}
        </div>
    </div>

    <!--  -->
    <div class="post-footer">
        <div class="meta">
            <div class="info">
                <em class="fas fa-calendar-day"></em>
                <span class="date">{{ if isset .Site.Params "indexdateformat" }}
                    {{ .Date.Format .Site.Params.indexDateFormat }}
                    {{ else }} {{.Date.Format "Mon, Jan 2, 2006"}}
                    {{ end }}</span>
                {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
                {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
<div class="pagination">
    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}